
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
font-family: 'Indie Flower', 'Arial Narrow', Arial, sans-serif;

background-image: url(../images/web-background.jpg);
position: relative;  
z-index: -1; 

}



.letters-container{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 0.2rem;
    align-items: center;
justify-content: center;
margin: 0;

text-align: center;

}

.game-container {
   
    text-align: center;
    background-color: white;
    padding: 5%;
    width: 40%;  
    height: 50%; 
    margin: auto; 
    margin-top: 6rem;
    border-radius: 1%;
    
}
   
img
{
width: 100%;
height: 100%;;
background-repeat: no-repeat;
text-align: center;
padding: 3%;}

.score-container
{font-size: 150%;
    margin-top: 3%;

}


.key {
    width: 2rem;
    height: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-color: lightskyblue;
    
    border: none;  
    border-radius: 5px;  
    cursor: pointer;
}

.keypressed {
    width: 2rem;
    height: 1.5rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

background-color: rgb(185, 207, 255);

border: none;  
border-radius: 5px;  
cursor: pointer;
}

.hangcontainer { } 