
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
font-family: 'Indie Flower', 'Arial Narrow', Arial, sans-serif;

background-image: url(../images/mountain3.jpg);
position: relative;  
z-index: -1; 

}



.letters-container{
    display: flex;
    width: 100%;
    height:100%;
    flex-wrap: wrap;
  flex-direction: row;
  
  align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.2rem;
    align-items: center;
justify-content: center;
margin: 0;


}



.game-container {
   
    text-align: center;
    background-color: white;
    opacity: 0.9;
    padding: 3%;
    width: 30%;  
    height: 50%; 
    margin: auto; 
    margin-top: 6rem;
    border-radius: 5px;
    
}
   
img
{
width: 100%;
height: 100%;;
background-repeat: no-repeat;
text-align: center;
padding: 3%;}

.score-container
{font-size: 150%;
    margin-top: 3%;
    margin: 2%;

}

.reset-key {
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    background-color: lightskyblue;
    margin: 2%;
    border: none;  
    border-radius: 5px;  
    cursor: pointer;
}

.key {
    flex: 0 0 12.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    background-color: lightskyblue;
    
    border: none;  
    border-radius: 5px;  
    cursor: pointer;
}

.keypressed {
    width: 100%;
    height: 100%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(185, 207, 255);
pointer-events: none;
border: none;  
border-radius: 5px;  
cursor: pointer;
}

 @media (max-width: 1100px) {
        .game-container {
          width: 60%;}}
          
@media (max-width: 700px) {
    .game-container {
      width: 80%;}}

     